body {
	background-color: #0C0D14;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
	position: relative;
	top: -10vh;
	font-size: 9vh;
    color: #8668FF;
	font-family: "Inter", sans-serif;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0px 0px 5px 5px;
}
@media (orientation: portrait) {
	.title {
		position: relative;
		top: -10vw;
		font-size: 10vw;
		color: white;
		font-family: "Inter", sans-serif;
		text-align: center;
		text-transform: uppercase;
		border-radius: 0px 0px 5px 5px;
	}
  }
.description {
	position: absolute;
  top: 240px;
	font-size: 35px;
	color: snow;
  font-weight: bold;
	font-family: "Inter", sans-serif;
	text-align: center;
	border-radius: 0px 0px 5px 5px;
  transition: transform 0.2s; 
  cursor: default;
}
.main {
	letter-spacing: 2px;
	font-family: "Inter", sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.searchbar {
    top:-15vh;
    padding: 1vw;
    width: 45vh;
	position: relative;
    border-radius: 5px;
    background: #2c3e50;
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    color: #2c3e50;
	transition: 0.2s;
}
@media (orientation: portrait) {
	.searchbar {
		top:-15vw;
		padding: 1vw;
		width: 45vw;
		position: relative;
		border-radius: 5px;
		background: #353535;
		text-align: center;
		font-size: 24px;
		border: none;
		outline: none;
		color: white;
		transition: 0.2s;
	}
  }
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0vw;
	background-color: var(--bg-c);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	overflow: hidden;
}
.particles-js-canvas-el {
	z-index: 0;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.key-button {
    cursor: pointer;
    border: 2px;
    transition: 0.2s;
    margin-top: 10px;
	font-size: 1.3vw;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 0.375rem;
    color: white;
    height: 50px;
    width: 19%;
    padding: 10px;
    text-align: center;
	display:inline-block;
	position: relative;
	top:-13.75vh;
}

button {
    cursor: pointer;
    border: 2px;
    transition: 0.2s;
    margin-top: 10px;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 0.375rem;
    color: white;
    height: 50px;
    width: 19%;
    padding: 10px;
    text-align: center;
}
